.auth__modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный цвет, чтобы затемнить фон */
    display: flex;
    z-index: 9999;
    justify-content: center; /* Выравнивание по центру по горизонтали */
    align-items: center; /* Выравнивание по центру по вертикали */
}

.auth__modal_content {
    background-color: #1C263E;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 20px; /* Уменьшаем отступы вокруг контента */
}

.auth__modal_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.auth__modal_wrapper {
    background-color: #1C263E;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    transform: translateY(-50%);
    transition: opacity .3s, transform .5s;
}

.auth__modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    padding: 40px 76px 40px 76px;
}

.auth__input_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth__modal_maintext {
    font-weight: 600;
    font-size: 24px;
}

.auth__input_modal_text {
    font-weight: 300;
    font-size: 20px;
}

.auth__modal__button {
    background-image: var(--reg-gradient);
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
}

.auth__trans_reg {
    font-weight: 300;
    font-size: 14px;
    color: #cdcdcd;
}

.auth__input_modal::placeholder {
    font-weight: 300;
    color: #6AAFFF;
}

.auth__input_modal:focus {
    outline: none;
    font-weight: 300;
    color: #6AAFFF;
}

.auth__modal__button:focus {
    outline: none;
}