.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1C263E;
}

.modal p {
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 24;
}

body.modal-open {
    overflow: hidden; /* Запрещаем прокрутку страницы */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);/* Устанавливаем поверх всех остальных элементов */
}