.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo:hover,
.volume:hover {
    cursor: pointer;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 94px;

    .volume:hover {
        transform: scale(1.1);
    }
}

