.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    font-family: Rubik;
    color: white;
    font-weight: 100;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

img {
    cursor: pointer;
}