.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.main__left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

Footer {
    margin-top: auto;
}




