.bit__content {
    width: fit-content;
    height: fit-content;
    background-color: #1C263E;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 49px;
}

.bit_cash {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    font-size: 36px;
    font-family: Rubik;
    font-weight: bolder;
}

.bit__image {
    width: 50px;
    height: 50px;
}

.bit__balance {
    background-image: var(--balance-gradient);
    width: fit-content;
    height: fit-content;
    padding: 3px 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    font-family: Rubik;
    align-items: center;

}

.bit__auto {
    font-family: Rubik;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bit__kf {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.kf__button {
    background: #1C263E;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 0 0.5px #3B477A;
    color: white;
    font-weight: 300;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 7px 12px;
}

.kf__button:not(:first-child) {
    margin-left: 20px;
}

.kf__button_another {
    background: #3B477A;
    color: white;
    font-weight: 300;
    border-radius: 5px;
    padding: 7px 12px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border: none;
}

.kf__button_another:not(:first-child) {
    margin-left: 20px;
}

.bit__input {
    position: relative;
}

.bit__dollar-sign {
    position: absolute;
    left: 10px; /* Подстройте это значение по вашему усмотрению */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Чтобы символ "$" не мешал вводу текста */
    color: #FFFFFF; /* Цвет символа "$" */
}

.bit__input_real {
    padding-left: 20px;
    border-radius: 5px;
    border-color: #3B477A;
}

.bit__input_real:focus {
    outline: none;
}

::placeholder {
    color: #FFFFFF;
    font-family: Rubik;
}

.kaka {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bit_buttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.bit__gamepad {
    background-image: var(--bid-gradient);
    display: flex;
    width: 210px;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    padding: 16px 18px;
    border-radius: 20px;
    gap: 32px;
    cursor: pointer;

    & a {
        color: #1C263E;
        font-family: Rubik;
        font-weight: 500;
        font-size: 12px;
    }
}

.bit__gamepad_another {
    background-image: var(--not-available-gradient);
    display: flex;
    width: 210px;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    padding: 16px 18px;
    border-radius: 20px;
    gap: 32px;

    & a {
        color: #FFFFFF;
        font-family: Rubik;
        font-weight: 500;
        font-size: 12px;
        text-decoration: line-through;
    }
}

.bit__anon {
    background-image: var(--bid-gradient);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: max-content;
    height: fit-content;
    padding: 16px 18px;
    border-radius: 20px;

    & a {
        color: #1C263E;
        font-family: Rubik;
        font-weight: 500;
        font-size: 12px;
    }
}