  .coalist__container {
      display: flex;
      flex-direction: row;
      max-width: 838px;
      max-height: 36px;
      align-items: center;
      gap: 16px;
      justify-content: left;
      position: absolute;
      /* left: 28px;
      right: 28px;  */
      bottom: 16px;
      left: 50%;
      transform: translateX(-47%);
      flex-wrap: rap;
      overflow-y: none;
  }