.coalist__container {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    max-width: 838px;
    max-height: 36px;
    align-items: center;
    gap: 16px;
    justify-content: left;
    overflow: hidden;
}